body {
  margin: 0;
  padding: 0;
}

.table-container {
  display: table;
  transform: rotate(2deg);
}

.main-table {
    font-family: 'Shadows Into Light', cursive;
    font-size: 22px;
    line-height: 28px;
    color: #3a3a9f;
    background-image: url(images/paper.png);
    background-repeat: no-repeat;
    padding: 62px 40px 40px;
    width: 343px;
    height: 421px;
}

.main-table td {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
}

.main-table th {
  font-weight: normal;
  padding: 0;
  margin:0;
}

tr {
    height: 36px;
    vertical-align: top;
}
